body {
  color: white;
  background: blueviolet;
  font: normal 18pt Arial;
}

#area{
  background: mediumspringgreen;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
}

#velocidade {
  width: 50px;
}
