body {
  background-color: rgba(105, 105, 173, 1.0);
  color: white;
  font: normal 20pt Arial;
}

.conteudo {
  border: 2px solid blue;
  width: 720px;
  margin: 0 auto;
}

.interacao {
  padding: 10px;
  text-align: center;
  border: 4px solid green;
}
